    <!--FOOTER START-->
    <footer>
        <div class="container">
            <div class="footer-card">
                <ul class="footer-social">
                    <li><a href="https://github.com/OSC-DEV"><i class="fab fa-github-square"></i></a></li>
                 </ul>
                <p>Copyright 2020 - ScaleCommerce GmbH , Fraunhofer Str. 23A, 10587 Berlin</p>
            </div>
        </div>
    </footer>
    <!--FOOTER END-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/script.js"></script>

</body>

</html>
