<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="open source commerce" name="keywords">
    <meta content="{{ site.description }}" name="description">
    <meta property="og:image" content="https://osc.dev/images/osc-dev-fb.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://osc.dev" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    
        <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>{{ site.title }}</title>
</head>

<body>
