    <!--Server SECTION START-->
    <section class="server-main pt-0">
        <div class="container">
            <div class="server-card">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="hero-img"><img src="images/imageserver.svg" alt="Imageserver"></div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <div class="hero-text">
                            {{ content }}
                            <div class="cta-action">
                                <a href="https://imageserver.scalecommerce.cloud/en/demo"  target="_blank" class="btn cta-primary-white">CHECK DEMO</a>
                                <!-- <a href="{{ site.github_link}}" target="_blank" class="btn cta-primary-outline">VIEW ON GITHUB</a>-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--Server SECTION END-->