    <!--SECTION FUNDING PROJECT START-->
    <section class="funds-project" id="funding">
        <div class="container">
            <div class="funding-card">
                <h2>Interested in Funding a Project?</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                <div class="cta-action">
                    <a href="mailto:info@scale.sc?subject=OSC.DEV%20Funding" class="btn cta-primary-white">FUND A PROJECT</a>
                    <a href="mailto:info@scale.sc?subject=OSC.DEV%20Proposal" class="btn cta-primary-outline">PROPOSE A PROJECT</a>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION FUNDING PROJECT END-->