    <!--HERO SECTION START-->
    <section class="hero-main" id="home">
        <div class="container">
            <div class="hero-card">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="hero-text">
                            {{ content }}
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="hero-img float-lg-right"><img src="images/hero-img.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--HERO SECTION END-->
